body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 156, 77);

}

.title {
    width: 90%;
    height: 50px;
    padding:20px;
    margin:30px;
    font-size: 40px;
    
    display: flex;        
    justify-content: center;      
}

.profile {
    display: flex;               
    justify-content: center; 
    margin: 20px;
}

.box1 {
    width: 90%;
    height: 250px;
    background-color: burlywood;
    border: 3px solid black;
    border-radius: 10px;
    padding:10px;
    margin:5px;
}

.aboutmeheader {
    font-size: 28px;
    font-weight: bold;
    margin:0;
    text-align: center;
}

.aboutmeline {
    border:none;
    border-top: 2px solid black;
    margin: 10px 0;
}


.aboutme {
    display: flex;           
    align-items: center; 
    gap: 10px; 
    overflow: hidden;
}

.aboutmetext {
    font-size: 15px;
    margin:0;
    text-align: left;
    align-items: center;
}

.profile-pic {
    max-width: 30%;
    max-height: 30%;       /* keep aspect ratio */
    margin: 10px auto;  /* center image horizontally */border-radius: 50%; /* optional: makes it circular */
    object-fit: cover;
}

.destination {
    width: 90%;
    height: 200px;
    background-color: burlywood;
    border: 3px solid black;
    border-radius: 10px;
    padding:20px;
    margin:5px;
}

.projects {
    width: 90%;
    height: 200px;
    background-color: burlywood;
    border: 3px solid black;
    border-radius: 10px;
    padding:20px;
    margin:5px;
}